/* Header container */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em; /* Adjust padding as necessary */
}

/* Flex utility for aligning items to the right */
.ml-auto {
  margin-left: auto;
}

/* Logo styling */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Button styling */
.black-button,
.custom-button {
  background-color: black;
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.black-button:hover,
.custom-button:hover {
  background-color: #e99696; /* Hover state color */
}

.custom-button {
  padding: 4px 8px; /* Adjust padding as needed */
  border-radius: 3px;
  transition: background-color 0.3s;
}

/* Profile picture styling */
.profile-picture {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Popover styling */
.popover-content {
  padding: 1em;
}

/* Dialog styling */
.dialog-content {
  padding: 2em;
  text-align: center;
}

.dialog-description {
  margin-top: 1em;
}

.dialog-description img {
  margin-bottom: 1em;
}

.dialog-description h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.dialog-description p {
  margin-top: 0.5em;
  color: #888;
}
